#amplifierPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#guitaristPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#drumsPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#cyanGuitarPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#blueGuitarPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#purpleGuitarPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#yellowGuitarPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#posterPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#djPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#bodybuilderPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#bouncerPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#discoPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#speakerPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#celloPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#celloBowPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#clarinetPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#harpPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#grandPianoPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#tambourinePane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#trumpetPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#doorPane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#aKey:hover {
  -fx-border-color: #bbcce9;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#bKey:hover {
  -fx-border-color: #bbcce9;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#cKey:hover {
  -fx-border-color: #bbcce9;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#dKey:hover {
  -fx-border-color: #bbcce9;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#eKey:hover {
  -fx-border-color: #bbcce9;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#fKey:hover {
  -fx-border-color: #bbcce9;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#gKey:hover {
  -fx-border-color: #bbcce9;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#leavePiano:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#leaveHarp:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#rockNotePane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#classicalNotePane:hover {
  -fx-border-color: #fff;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

#objectiveList {
  -fx-border-color: #000;
  -fx-border-width: 1px;
  -fx-border-style: solid;
}
